<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What user is logged in?</title>
</head>
<body>
<h2>You are now logged in </h2>
<p>Your username is: <span th:text=" ${LoggedInUser.username}"></span></p>
<p>Your email is: <span th:text=" ${LoggedInUser.email}"></span></p>
<p>Your chil is: <span th:text=" ${LoggedInUser.child}"></span></p>
<p>Your preferences are:</p>
<ul>
    <li th:each="genre : ${genres}">
        <span th:text="${genre}"></span>
    </li>
</ul>
<form action="#" th:action="@{logout}" method="post">
    <button type="submit">Log out</button>
</form>

<form action="#" th:action="@{/loggedin}" method="post">
    <button type="submit" id="Settings">Settings</button>
</form>

<div th:if="${DivSettings}" id="userSettings">


    <form action="#" th:action="@{/saveSettings}" method="post">

        <label for="username">Username
            <input type="text" name="username" id="username" th:field="*{LoggedInUser.username}">
        </label>

        <label for="password">Password
            <input type="text" name="password" id="password" th:field="*{LoggedInUser.password}">
        </label>

        <label for="email">Email
            <input type="text" name="email" id="email" th:value="*{LoggedInUser.email}">
        </label>


        <label class="switch">child-safe mode
            <input id= "childCheckbox" type="checkbox" th:name="child" th:checked="${LoggedInUser.child ? 'checked':null}">
        </label>
        <button type="submit">Save changes</button>

    </form>
    <form action="#" th:action="@{/deleteUser}" method="post" onsubmit="return confirm('Are you sure?')" >
        <button type="submit">Delete Account</button>
    </form>
</div>


<p><a href="/loggedin/preferences">Update preferences</a></p>

<h2>Your watch history</h2>

<div th:if="${watched?.movies?.size() == 0}">
    <p>You have no movies in your watch history</p>
</div>

<div th:if="${watched?.movies?.size() > 0}">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${watched.movies}">
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.description}"></td>
                <td th:text="${movie.rating}"></td>
                <td><a th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </table>
</div>

<h2>Your movielists</h2>

<div th:if="${movieLists.size() == 0}">
    <p>You have no movie lists yet.</p>
</div>
<div th:if="${movieLists.size() > 0}">
    <div th:each="movieList : ${movieLists}">
        <h3 th:text="${movieList.name}">Movie List Name</h3>
        <form th:action="@{/deleteMovieList}" method="post">
            <input type="hidden" th:name="movieListId" th:value="${movieList.id}"/>
            <button type="submit">Delete</button>
        </form>
        <div th:switch="${movieList.movies}">
            <h2 th:case="null">no movies yet!</h2>
            <div th:case="*">
                <h2>Movies</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Rating</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${movieList.movies}">
                        <td th:text="${movie.title}"></td>
                        <td th:text="${movie.description}"></td>
                        <td th:text="${movie.rating}"></td>
                        <td><a th:href="@{/delete/{id}(id=${movie.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form action="#" th:action="@{/addMovieList}" method="post">
    <label for="name">Movie List Name:</label>
    <input type="text" id="name" name="name" required />
    <button type="submit">Add Movie List</button>
</form>



</body>
</html>