<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h2>Log in to your account</h2>
<button class="movie-search-button">
    <a href="#" th:href="@{/}">Home</a>
</button>
<form action="#" th:action ="@{login}" th:object="${user}" method="post">
    <label for="username" >Username</label>
    <input type="text" name="username" id="username" th:field="*{username}" class="search-input">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" th:field="*{password}" class="search-input">
    <input type="submit" value="Login" class="movie-search-button"/>
</form>

</body>
</html>