<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>preferences</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
  <form action="#" th:action="@{/loggedin/preferences}" method="post">
    <h2>Update preferences</h2>

    <div th:each="genre : ${genres}">
      <label>
        <input type="checkbox" name="genres" th:value="${genre}" th:id="${genre}" th:checked="${UserGenres.contains(genre)}"/>
        <span th:text="${genre}">Genre Name</span>
      </label>
    </div>
      <Button type="submit" name = "action" value="Clear Preferences">Clear Preferences</Button>
      <Button type="submit" name = "action" value="Save Preferences" >Save Preferences</Button>
  </form>

  <button class="movie-search-button">
    <a href="#" th:href="@{/loggedin}"> Cancel</a>
  </button>


</body>
</html>