<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h2>Create new account</h2>
<p><a href="#" th:href="@{/}"> home</a></p>
<form action="#" th:action ="@{/signup}" th:object="${user}" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" th:field="*{username}">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" th:value="*{password}">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" th:value="*{email}">
    <h3>Your preferences</h3>
    <div th:each="genre : ${genres}">
        <label>
            <input type="checkbox" name="genres" th:value="${genre}" th:id="${genre}"/>
            <span th:text="${genre}">Genre Name</span>
        </label>
    </div>
    <input type="submit" value="Sign up"/>
</form>

</body>
</html>